/template/backend/.vs
/template/backend/obj
/template/backend/src/DeveloperEvaluation.WebApi/DeveloperEvaluation.WebApi.csproj.user
/template/backend/TestResults
/template/backend/bin
/.vs
/bin
/obj
/src/DeveloperEvaluation.Application/bin
/src/DeveloperEvaluation.Application/obj
/src/DeveloperEvaluation.Common/obj
/src/DeveloperEvaluation.Common/bin
/src/DeveloperEvaluation.Domain/obj
/src/DeveloperEvaluation.Domain/bin
/tests/DeveloperEvaluation.Unit/bin
/tests/DeveloperEvaluation.Unit/obj
/src/DeveloperEvaluation.IoC/obj
/src/DeveloperEvaluation.IoC/bin
/src/DeveloperEvaluation.ORM/bin
/src/DeveloperEvaluation.ORM/obj
/src/DeveloperEvaluation.WebApi/obj
/src/DeveloperEvaluation.WebApi/bin
/tests/DeveloperEvaluation.Functional/bin
/tests/DeveloperEvaluation.Functional/obj
/tests/DeveloperEvaluation.Integration/bin
/tests/DeveloperEvaluation.Integration/obj
/tests/DeveloperEvaluation.Unit/TestResults
/src/obj
